<div>
   <h1> Halawayat Assil </h1>

</div>

<mat-divider>

</mat-divider>

<div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img06.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img07.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img08.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img09.jpg" alt="">
        </mat-card>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img10.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img11.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img12.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img13.jpg" alt="">
        </mat-card>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img14.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img15.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img16.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img17.jpg" alt="">
        </mat-card>
    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img18.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img19.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img20.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img21.jpg" alt="">
        </mat-card>
    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img22.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img23.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img24.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img25.jpg" alt="">
        </mat-card>
    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img26.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img27.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img28.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img14.jpg" alt="">
        </mat-card>
    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img11.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img12.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img13.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img14.jpg" alt="">
        </mat-card>
    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img11.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img12.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img13.jpg" alt="">
        </mat-card>
        <mat-card fxFlex="25">
            <span> stats </span> 
            <img class ="card" src="../../../assets/img14.jpg" alt="">
        </mat-card>
    </div>