
 <div class="carousel">
    <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide >
                <div class="img1">
                    <div class="text">
                        <p>Amour dit zerroul</p>
                    </div>
                    <!-- <img  src="../../../assets/photo01.jpg" alt=""> -->
                </div>
            </ng-template> 
        
            <ng-template carouselSlide>
                <div class="img1">
                    <div class="text">
                        <p>Amour dit zerroul</p>
                    </div>
                    <!-- <img  src="../../../assets/photo01.jpg" alt=""> -->
                </div>
            </ng-template> 
         
            <ng-template carouselSlide>
                <div class="img1">
                    <div class="text">
                        <p>Amour dit zerroul</p>
                    </div>
                    <!-- <img  src="../../../assets/photo01.jpg" alt=""> -->
                </div>
            </ng-template> 
        
      </owl-carousel-o>
 </div>
   