// #global {
//     margin-left: auto;
//     margin-right: auto;
//   }

.jumbotron {
    background-image: 
    url('../../../assets/back.jpg');
     background-size: cover;
      min-height: 380px;
     }

   .display-4 {
     padding: 10px;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     }

