<div class="header">
  
    <div class="ico">
      <span class="fas fa-shopping-cart"></span>
      <p>Online Shoping</p>
    </div>
  
  <div class="ex"></div>
  
  <div class="ico">
    <span class="fas fa-truck"></span>
    <p>Free Ship</p>
  </div>
  
  <div class="ex"></div>
  
  <div class="ico">
    <span class="far fa-thumbs-up"></span>
    <p>Quality Products</p>
  </div>
  
</div>

<div class="main">
  <div class="no1">
    <img src="https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="1 img">
  </div>
  <div class="no2">
    <h2>GALLERY</h2>
  </div>
  <div class="no3">
    <img src="https://images.pexels.com/photos/461431/pexels-photo-461431.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="2 img">
  </div>
  <div class="no4">
    <img src="https://images.pexels.com/photos/1291712/pexels-photo-1291712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="3 img">
  </div>
  <div class="no5">
    <img src="https://images.pexels.com/photos/302474/pexels-photo-302474.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="4 img">
    <div class="top">
      <h2>THE CAKE BLAH</h2>
      <div class="bar"></div>
    </div>
  </div>
  <div class="no6">
    <img src="https://images.pexels.com/photos/357629/pexels-photo-357629.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="5 img">
  </div>
</div>

<section class="section3">
  <h2>Our <span class="blogStyle">Blog</span></h2>
  
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et in harum magni sed unde eaque, repudiandae sapiente fuga, omnis dolores id explicabo laboriosam!</p>
  
  <div class="boxes">
    
    <div class="box">
    
    <img src="https://images.pexels.com/photos/416458/pexels-photo-416458.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    
    <div class="title">
      <h3>HOW TO MAKE</h3>
      <p class="blogStyle">the food</p>
    </div>
    
  </div>
    
    <div class="box">
    
    <img src="https://images.pexels.com/photos/416458/pexels-photo-416458.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    
    <div class="title">
      <h3>HOW TO MAKE</h3>
      <p class="blogStyle">the food</p>
    </div>
    
  </div>
    
    <div class="box">
    
    <img src="https://images.pexels.com/photos/416458/pexels-photo-416458.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    
    <div class="title">
      <h3>HOW TO MAKE</h3>
      <p class="blogStyle">the food</p>
    </div>
    
  </div>
    
    <div class="box">
    
    <img src="https://images.pexels.com/photos/416458/pexels-photo-416458.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    
    <div class="title">
      <h3>HOW TO MAKE</h3>
      <p class="blogStyle">the food</p>
    </div>
    
  </div>
    
    
  </div>
  
  
  
</section>