
    <owl-carousel-o class="carousel" [options]="customOptions">
            <ng-template class="slide1" carouselSlide >
                <div class="img-carousel">

                    <!-- <div class="text">
                        <p>Halamiyat Assil</p>
                    </div> -->
                    <img   src="../../../assets/Carousel01.png" alt="gateaux orientaux belfort">
                </div>
            </ng-template> 
        
            <ng-template class="slide1" carouselSlide>
                <div class="img-carousel">
                    <!-- <div class="text">
                        <p>Halamiyat Assil</p>
                    </div> -->
                    <img   src="../../../assets/Carousel_02.png" alt="gateaux orientaux belfort">
                </div>
            </ng-template> 
        
            <ng-template class="slide1" carouselSlide>
                <div  class="img-carousel" >
                    <!-- <div class="text">
                        <p>Halamiyat Assil</p>
                    </div> -->
                    <img  src="../../../assets/Carousel_03.png" alt="gateaux orientaux belfort">
                </div>
            </ng-template> 
        
      </owl-carousel-o>

 

