
    <owl-carousel-o class="carousel" [options]="customOptions">
            <ng-template class="slide1" carouselSlide >
                    <div class="text">
                        <p>Halamiyat Assil</p>
                    </div>
                    <img  class="img-carousel" src="../../../assets/photo011.jpg" alt="">
            </ng-template> 
        
            <ng-template class="slide1" carouselSlide>
             
                    <div class="text">
                        <p>Halamiyat Assil</p>
                    </div>
                    <img  class="img-carousel" class="img-carousel" src="../../../assets/img25.jpg" alt="">
                
            </ng-template> 
         
            <ng-template class="slide1" carouselSlide>
                
                    <div class="text">
                        <p>Halamiyat Assil</p>
                    </div>
                    <img  class="img-carousel"  src="../../../assets/img06.jpg" alt="">
                  
            </ng-template> 
        
      </owl-carousel-o>

 

      

  
