
<main>
    <div class="lp">
      <div class="lp__banner"></div>
      <h1 class="lp__title">gateau original algérienz</h1>
      <div class="lp__cont">
        <div class="lp__cont__item">
          <h2 class="lp__cont__item__title">Architect</h2>
          <p class="lp__cont__item__text">Edward Lindgen</p>
          <p class="lp__cont__item__text">August 2019</p>
        </div>
        <!---->
        <div class="lp__cont__item">
          <h2 class="lp__cont__item__title">Photography</h2>
          <p class="lp__cont__item__text">Hangakore Harbana</p>
          <p class="lp__cont__item__text">October 2019</p>
        </div>
        <!---->
        <div class="lp__cont__item lp__cont__item-rt">
          <ul class="lp__nav">
            <li class="lp__nav__link lp__nav__link-active"><a href="#">Intro</a></li>
            <li class="lp__nav__link"><a href="#">Description</a></li>
            <li class="lp__nav__link"><a href="#">Organisation</a></li>
            <li class="lp__nav__link"><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </main>