<header>
    <div class="titre pd-20">
        <h1> Halawiyat Assil </h1>
    </div>
    <div id="hero">

        <div id="mydiv">
            <div class="nv-r pd-20">
                <h2> Nouvelle recette </h2>
                <p>
                    Venez gouter les nouvelles recette de
                    notre gateaux. <br>
                    Dés à présent tout les
                </p>
            </div>
        </div>
    </div>

    <div id="Global">
        <div id="gauche"> 
            <div class="d">
                <h1>promo</h1>
            </div>
        </div>
        <div id="droite"> 
            <h1>nou</h1>
        </div>
    </div>
</header>