header{
  // background-image : url('../../../assets/back.jpg');
  background-color: ivory;
}

 .titre{
   text-align: center;
  // background-color: rgb(219, 219, 41);
 }
 .pd-20{
   padding: 20px;
 }

 .nv-r{
   width: 60%;
   text-align: center;
 }

 #mydiv {
 
  justify-content: center;
  border: 1px solid black;
  display: flex;
  width: 50%;
  background-color: rgba(128, 128, 128, 0.589);
}
#hero{
  padding: 20px;
 display: flex;
 justify-content: center;
}

#Global #gauche {
  float:left;
  width:60%;
  justify-content: center;
  text-align: center;
  
}
#Global #droite {
  margin-left:60%   
}

.d{
  width: 50%;
  justify-content: center;
  border: 1px solid black;
}

