<div class="main">
    <h1>Shop</h1>
    <h3><a href="/">my cart</a></h3>
    <h2>Stuff</h2>
    <div class="row">
      <a class="item" href="/">
        <div class="image" style="background-image: url('../../../assets/photo01.jpg');"></div>
        <p class="item_description">Plant</p>
      </a>
      <a class="item" href="/">
        <div class="image" style="background-image: url('../../../assets/photo02.jpg');"></div>
        <p class="item_description">Another Plant</p>
      </a>
      <a class="item" href="/">
        <div class="image" style="background-image: url('../../../assets/photo03.jpg');"></div>
        <p class="item_description">Little Plants</p>
      </a>
      <a class="item" href="/">
        <div class="image" style="background-image: url('../../../assets/photo04.jpg');"></div>
        <p class="item_description">Phone Stand</p>
      </a>
    </div>
    <h2>Devices</h2>
    <div class="row">
      <a class="item" href="/">
        <div class="image" style="background-image: url('../../../assets/photo05.jpg');"></div>
        <p class="item_description">Laptop</p>
      </a>
      <a class="item" href="/">
        <div class="image" style="background-image: url('../../../assets/photo07.jpg');"></div>
        <p class="item_description">XBox</p>
      </a>
      <a class="item" href="/">
        <div class="image" style="background-image: url('../../../assets/photo07.jpg');"></div>
        <p class="item_description">Kindle</p>
      </a>
    </div>
  </div>
  