<p>trouver works!</p>
<div class="container">
    <div class="row logo">
      LOGO
    </div>
      <div class="row">
        <div id="loader">
          <div class="dot">G</div>
          <div class="dot">A</div>
          <div class="dot">3</div>
          <div class="dot">4</div>
          <div class="dot">5</div>
          <div class="dot">6</div>
          <div class="dot">7</div>
          <div class="dot">8</div>
          <div class="loading"></div>
        </div>
      </div>
    </div>